<footer>
    <div class="logos">
        <h4>Partners <span>&</span> Funders</h4>
        <div class="logo">
            <a href="//kdl.kcl.ac.uk/">
                <img src="/assets/img/logos/KCL.png" alt="King's College London logo"/>
            </a>
        </div>
        <div class="logo">
            <a href="//treatiedspaces.com/">
                <img src="/assets/img/logos/treatied_spaces.png" alt="Treatied spaces"/>
            </a>
        </div>
        <div class="logo">
            <a href="//www.ukri.org/about-us/ahrc/">
                <img src="/assets/img/logos/ahrc_2.png" alt="Arts & Humanities Research Council Logo"/>
            </a>
        </div>
    </div>
    <div class="info">
        <ul>
            <li><a href="{{ "/accessibility/" | url }}">Accessibility Statement</a></li>
            <li><a href="{{ "/about/" | url }}">Credits &amp; Acknowledgements</a></li>
            <li>©2024 Brightening the Covenant Chain</li>
        </ul>
    </div>
</footer>
