<footer>
    <div class="logos">
        <h4>Partners <span>&</span> Funders</h4>
        <div class="logo">
            <a href="//kdl.kcl.ac.uk/">
                {% image "assets/img/logos/KCL.png", "King's College London logo", "300, 600" %}
            </a>
        </div>
        <div class="logo">
            <a href="//treatiedspaces.com/">
                {% image "assets/img/logos/treatied_spaces.png", "Treatied spaces", "300, 600" %}
            </a>
        </div>
        <div class="logo">
            <a href="//www.ukri.org/about-us/ahrc/">
                {% image "assets/img/logos/ahrc_2.png", "Treatied spaces", "300, 600" %}
            </a>
        </div>
    </div>
    <div class="info">
        <ul>
            <li><a href="{{ "/accessibility" | url }}">Accessibility Statement</a></li>
            <li><a href="{{ "/about" | url }}">Credits &amp; Acknowledgements</a></li>
            <li>©2024 Brightening the Covenant Chain</li>
        </ul>
    </div>
</footer>
