<footer class="footer">
    <hr/>
    <div class="w3-row has-text-centered w3-padding-small flex-container">
        <div class="logo">
            <h4>Partners and Funders</h4>
        </div>
        <div class="logo kcl-logo">
            <a href="//kdl.kcl.ac.uk/">
                {% image "assets/img/logos/KCL.png", "King's College London logo", "300, 600" %}
            </a>
        </div>

        <div class="logo">
            <a href="//treatiedspaces.com/">
                {% image "assets/img/logos/treatied_spaces.png", "Treatied spaces", "300, 600" %}
            </a>
        </div>
        <!--w3-col s12 m3 l2 -->
        <div class="logo">
            <a href="//www.ukri.org/about-us/ahrc/">
                {% image "assets/img/logos/ahrc_2.png", "Treatied spaces", "(min-width: 10em), 30vw" %}
            </a>
        </div>

        <div class="footer-credits">
            ©2024 Brightening the Covenant Chain<br/>
            <a href="{{ "/accessibility" | url }}">Accessibility Statement</a><br/>
            <a href="{{ "/acknowledgements" | url }}">Credits &amp; Acknowledgements</a>
        </div>

    </div>


    <div class="w3-row footer-bottom">
        <div class="w3-row has-text-centered w3-padding-small">
            <div class="w3-col s1 m2 l3">&nbsp</div>
            <div class="w3-col s10 m8 l6 develop">
                Designed, developed and maintained by <a href="//kdl.kcl.ac.uk/">King's Digital Lab</a>
            </div>
        </div>


    </div>
</footer>
