{% assign navPages = collections.all | eleventyNavigation %}
<nav>
    <div id="mainmenu">
        <a id="sitetitle" href="/"><span>Movement and Common Worlds in Early America</span><div class="subtitle">Homelands, Pathways and the Peoples of the Northeast</div></a>
        <input id="menu" type="checkbox"/>
        <!--<img src="{{ '/assets/img/icons/font-awesome/bars-solid.svg' | url }}"/>-->
        <label class="menu" role="button" for="menu">Menu</label>
        <ol>
            {% for entry in navPages %}
                <li class="{% if page.url | contains: entry.url %}is-active{% endif %}">
                    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
            {% endfor %}

        </ol>

        {% comment %}<ul>{% endcomment %}
        {% comment %}{% for entry in navPages %}{% endcomment %}

        {% comment %}{% endfor %}{% endcomment %}
        {% comment %}</ul>{% endcomment %}
    </div>
</nav>
