---
layout: base.liquid
---
<div class="container">

    <section class="section">

            <h1 class="title">
                {{ title }}
            </h1>
            <div class="content {{ tags }}">
                {{ content }}
            </div>

    </section>

</div>